/* * {
    margin: 0;
    padding: 0;
}  */

div.sliderDiv { 
     max-width: 900px;
     max-height: 400px;
     margin-top: 20px;
     margin-bottom: 170px;
     position: relative;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
}

.sliderBar {
    text-align: center;
}

.aws-sld__bullets{
    position: relative;
    bottom: -2.5px;
}