.cardContainer{
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    transition: 0.3s;
    /* max-width: 70%; */
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.cardContainer:hover {
    /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); */
}

.contentLeft{
    padding: 2px 16px;
}

.contentRight{
    width: 100%;
    margin-left: 20px;
    text-align: left;
}