html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0 0 0 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  background-color: #4e270c;
  background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
  background-attachment: fixed;
  background-position: center;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Main-Content{
  padding: 0px;
}

hr{
  margin: 10px;
}

h1, h2, p, ul, li {
  font-family: sans-serif;
}

ul.navBar {
  /*background-color: darkcyan;*/
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 10;
}

ul.navBar.with-background {
  background-color: #4e270c;
  background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
}

ul.navBar li#Home {
  margin-right: 15%;
}

ul.navBar li {
  display: inline-block;
  list-style-type: none;
  margin: 0 0;
}

ul.navBar li {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  cursor: pointer;
}

ul.navBar li:hover {
  color: rgba(31, 177, 170, 0.6);
}

ul.navBar li.active {
  color: rgba(0, 208, 208, 0.8);
}

.header .logo {
  max-width: 25%;
  padding: 20px;
  background: #20B2ABB3;
  margin: 150px;
}

.header {
  text-align: center;
  color: #fff;
  background-image: url(./imgs/background-header2.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.body {
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
}
.body h2 {
  margin: 0;
}
.body li {
  margin-bottom: 10px;
}