/* * {
    margin: 0;
    padding: 0;
}  */

div.sliderDiv { 
    max-width: 900px;
    max-height: 400px;
    margin-top: 20px;
    margin-bottom: 170px;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid #30a55e;
}

.carousel .slide img{
    border-radius: 50%;
}

.sliderBar {
    text-align: center;
}

.carousel .slide {
    background: transparent !important;
}


.carousel .control-dots .dot{
    background: #000 !important;
}

.carousel.carousel-slider .control-arrow{
    bottom: auto !important;
}